<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout :: layout(~{::section})}">

<section>

<h2>Login</h2>

<form th:action="@{/auth/login}" method="post" class="form-box">

    <input type="email" name="email" placeholder="Enter Email" required>

    <input type="password" name="password" placeholder="Enter Password" required>

    <button type="submit">Login</button>

    <p>Don't have account?
        <a href="/register">Register</a>
    </p>

</form>

</section>

</html>
